body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}


.navbar-image {
    width: 5%;
    height: 5%;
    margin-right: 10%;
}

/* décale l'image de la navbar vers la gauche */



li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* descdnre la div "main-title" */
.main-title {
    margin-top: 5%;
}


.Home-img {
    /* center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;

}


.card+.card {
    margin-left: 1.5%;
}

.card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    max-width: 300px;
    margin: auto;
    text-align: center;
    float: left;
    width: 33.3333%;
    padding: 0 30px;
}

.type {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}


/* centre la div "second-section" */
.second-section,
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* centre les elements de la barre de navigation */
.nav-menu,
.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* centre les elements de la div "section-3" */